<div>

    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>

    <form action="/MSSE_Auctions/j_spring_security_check" method="POST" id="loginForm" autocomplete="off">
        <div class="modal-body">
        <h3>Login</h3><br>
        <label for='username'>Username</label><br>
        <input type='text' class='text_' name='j_username' id='username'/>

        <br><br>
        <label for='password'>Password</label><br>
        <input type='password' class='text_' name='j_password' id='password'/>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type='submit' id="submit" value='Submit'>Submit</button>
        </div>
    </form>

    <!-- super hack.. move the cancel button outside of the form so it doesn't submit the form post,
         and with a little css trickery to make the buttons line up -->
    <button class="btn btn-default" ng-click="cancel()" style="float: right; margin: -49px 95px 0 0; ">Cancel</button>

</div>
