/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap/dist/css/bootstrap
*= require bootstrap/dist/css/bootstrap-theme
*= require main
*= require mobile
*= require_self
*/

header{
    height: 50px;
}

.loginLink{
    float: right;
    margin-right: 10px;
}
.loginLbl{
    color: #bbb;
    font-weight: normal;
    cursor: default;
    float: right;
    margin-right: 10px;
}

input.ng-invalid.ng-dirty { background-color: #ff9a9a; }